<div *ngIf="error" class="alert alert-danger" role="alert">{{error}}</div>
<div *ngIf="success" class="alert alert-success">{{success}}</div>

<div id="theList" class ="row">
  <div class="col s3 offset-s4">
    <h2 class="center">List of Items</h2>
    <div *ngFor="let item of cars;let i = index;" class="list-group-item row">
      <div class="col s3">
        <input type="text" class="form-control" [(ngModel)]="cars[i].model" pattern="^[a-zA-Z]+$"
               #model="ngModel" [ngClass]="{ 'is-invalid': model.touched && model.invalid }" required>
      </div>
      <div class="col s3">
        <input type="number" class="form-control" [(ngModel)]="cars[i].price" #price="ngModel"
               [ngClass]="{ 'is-invalid': price.touched && price.invalid }" required>
      </div>
      <div class="col s5">
        <input type="button" class="btn btn-success" value="Update" [disabled]="model.invalid || price.invalid"
               (click)="updateCar(model, price, item.id); openToast('update')">
        &nbsp;
        <input type="button" class="btn right btn-denial" value="Delete" (click)="deleteCar(item.id); openToast('delete')">
      </div>
    </div>
  </div>
</div>

<div id="theForm" class="row">
    <div class="col s3 offset-s4">
        <h2 class="center">The form</h2>
        <form #f="ngForm" name="theForm" (submit)="addCar(f)">
          <div class="form-group">
            <input type="text" class="form-control" name="model" [(ngModel)]="car.model" placeholder="model"
                   #carModel="ngModel" pattern="^[a-zA-Z]+$" required>
            <span class="helper-text" *ngIf="carModel.errors?.required && carModel.touched">
              The model name is required
            </span>
            <span class="helper-text" *ngIf="carModel.errors?.pattern && carModel.touched">
              The model name can only contain the letters a-z or A-Z
            </span>
          </div>

          <div class="form-group">
            <input type="number" class="form-control" name="price" [(ngModel)]="car.price" placeholder="price"
                   #carPrice="ngModel" required>
            <span class="helper-text" *ngIf="carPrice.errors?.required && carPrice.touched">
              The price is required
            </span>
          </div>

          <button class="btn btn-success full-width" [disabled]="f.invalid">Add</button>
        </form>
  </div>
</div>

